@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Passion+One:700&display=swap");

$family-secondary: "Passion One", cursive;
$title-family: $family-secondary;
$box-padding: 1.875rem;
// Set your brand colors
$teal: #0b576d;
$green: #7ebf8a;

$section-padding: 3rem 1.5rem;
$column-padding: 1.25rem;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $teal;
$link: $green;

@import "../../node_modules/bulma/bulma.sass";

.column-padding {
  padding: $column-padding;
}

$dimensions: 256 !default;
// Combinations

.card {
  .media:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  &.is-horizontal {
    // flex-direction: row /* NOTE: Remove this line */
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;
    .card-image {
      flex: 4;
      flex-shrink: 1;
    }
    .image {
      display: block;
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .card-content {
      flex: 3;
    }
  }
}

.destLi {
  background-color: #fafafa;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.fa-map-marker-alt,
.fa-caret-down {
  margin-right: 5px;
}
.fa-trash-alt,
.fa-caret-down,
.fa-caret-up {
  cursor: pointer;
}
