@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");

$family-secondary: "Poppins", sans-serif;
$title-family: $family-secondary;
$subtitle-weight: 600;
$box-padding: 2rem;
$box-radius: 16px;
$box-shadow: none;

$notification-radius: 16px;
$notification-padding: 2rem;

// Set your brand colors
$teal: #0b576d;
$green: #8ac0bd;
$orange: #f57679;

$section-padding: 3rem 1.5rem;
$column-padding: 1.25rem;

$tooltip-background-color: #0b576d;
$tooltip-background-opacity: 1;

$navbar-padding-vertical: 0.5rem;
$navbar-padding-horizontal: 1.5rem;

$modal-card-head-background-color: #fff;
$modal-background-background-color: rgba(10, 10, 10, 0.7);
// Update Bulma's global variables

$primary: $teal;
$link: $orange;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-tooltip/src/sass/index.sass";

.App {
  background-color: #eee;
  min-height: 100vh;
}

.is-bg-img {
  background: url("images/hero.jpg") center center;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.column-padding {
  padding: $column-padding;
}

$dimensions: 256 !default;
// Combinations

.card {
  .media:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  &.is-horizontal {
    // flex-direction: row /* NOTE: Remove this line */
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;
    .card-image {
      flex: 4;
      flex-shrink: 1;
    }
    .image {
      display: block;
      position: relative;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .card-content {
      flex: 3;
    }
  }
}

.destLi {
  padding: 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.deleteMember {
  margin-left: 20px;
  display: none;
}
.memberLi:hover .deleteMember {
  display: initial;
}
.fa-map-marker-alt,
.fa-caret-down {
  margin-right: 5px;
}
.fa-trash-alt,
.fa-caret-down,
.fa-caret-up {
  cursor: pointer;
}

.loader-container {
  left: 0;
  right: 0;
  margin: auto;
}
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid $teal;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar-item.account {
  display: block;
}

.memberLi {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.memberLi .image {
  margin-right: 10px;
}

.chatroom {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

.messages {
  height: 100%;
  width: 100%;
  transform: translateZ(0px);
  overflow: auto;
}
.navbar-start {
  flex-grow: 1;
  justify-content: center;
}

//Weather icons

.currentWeather {
  border-top: 1px dashed #fff;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.weatherIcon {
  height: 2rem;
  width: 2rem;
  background-size: contain;
  background-position: center center;
}
.weatherIcon.i-01d {
  background-image: url("images/01d.png");
}
.weatherIcon.i-01n {
  background-image: url("images/01n.png");
}
.weatherIcon.i-02d {
  background-image: url("images/02d.png");
}
.weatherIcon.i-02n {
  background-image: url("images/02n.png");
}
.weatherIcon.i-03d,
.weatherIcon.i-03n {
  background-image: url("images/03d.png");
}
.weatherIcon.i-04d,
.weatherIcon.i-04n {
  background-image: url("images/04d.png");
}
.weatherIcon.i-09d,
.weatherIcon.i-09n {
  background-image: url("images/09d.png");
}
.weatherIcon.i-10d,
.weatherIcon.i-10n {
  background-image: url("images/10d.png");
}
.weatherIcon.i-11d,
.weatherIcon.i-11n {
  background-image: url("images/11d.png");
}
.weatherIcon.i-50d,
.weatherIcon.i-50n {
  background-image: url("images/50d.png");
}

.currentWeather .temp {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: $family-secondary;
  margin-left: 5px;
}
.currentWeather .desc {
  font-size: 0.8rem;
  margin-left: 5px;
}

//Tile Styling Extra
.tile-menu {
  position: absolute;
  right: 20px;
  top: 16px;
}

.notification.is-link {
  background: rgb(242, 81, 85);
  background: linear-gradient(
    48deg,
    rgba(242, 81, 85, 1) 16%,
    rgba(245, 118, 121, 1) 67%
  );
}

.tripCard {
  cursor: pointer;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    flex-grow: 1;
    flex-shrink: 0;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #999999;
    cursor: pointer;

    &--selected {
      border-bottom-color: #0b576d;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      color: #0b576d;
    }

    &__label {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0.5em 1em;
      vertical-align: top;
    }
  }
  &__tab:hover {
    border-bottom-color: #0b576d;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #0b576d;
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}

.box.extended {
  background: rgb(11, 87, 109);
  background: linear-gradient(
    45deg,
    rgba(11, 87, 109, 1) 15%,
    rgba(91, 148, 157, 1) 75%
  );
  color: #fff;
}
.box.extended .title {
  color: #fff;
}

.bookmark {
  position: absolute;
  right: 20px;
  top: 16px;
}
